@model IEnumerable<dbCompanyTest.Models.會員商品暫存>

@{
    ViewData["Title"] = "Index";
}
<link href="~/css/shopping.css" rel="stylesheet" />
<div class="car d-flex flex-column justify-content-center align-content-lg-center">
    <div class="shopping-step">
        <div class="step step1 active"> 1 購物清單</div>
        <div class="stepRow"></div>
        <div class="step step2"> 2 填寫資料</div>
        <div class="stepRow"></div>
        <div class="step step3"> 3 訂購完成</div>
    </div>
    <input id="btn_slectCar" type="button" value="購物清單" style="visibility: hidden" />
    <hr />
    <table class="table car_table hidaing">
        <thead>
            <tr>
            <tr>
                <th>

                </th>
                <th>
                    商品資訊
                </th>
                <th>
                        @Html.DisplayNameFor(model => model.訂單數量)
                </th>
                <th>
                        @Html.DisplayNameFor(model => model.商品價格)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        <img src="~/images/@item.圖片1檔名" width="200" />
                    </td>
                    <td>
                        <dl class="row">
                            <dt class="col-sm-2">
                                品名:
                            </dt>
                            <dd class="col-sm-10">
                                @Html.DisplayFor(modelItem => item.商品名稱)
                            </dd>
                            <dt class="col-sm-2">
                                尺寸:
                            </dt>
                            <dd class="col-sm-10">
                                @Html.DisplayFor(modelItem => item.尺寸種類)
                            </dd>
                            <dt class="col-sm-2">
                                顏色:
                            </dt>
                            <dd class="col-sm-10">
                                @Html.DisplayFor(modelItem => item.商品顏色種類)
                            </dd>
                        </dl>
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.訂單數量)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.商品價格)
                    </td>

                    <td>
                        <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>


    <dl class="row" id="ChoosePay">
        <dt class="col-sm-2">付款方式</dt>
        <dd class="col-sm-10">

            <div class="form-check">
                <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1"value="信用卡">
                <label class="form-check-label" for="flexRadioDefault1">
                    信用卡
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2"value="ATM" checked>
                <label class="form-check-label" for="flexRadioDefault2">
                    ATM
                </label>
            </div>

        </dd>

        <dt class="col-sm-2">配送方式</dt>
        <dd class="col-sm-10">
            <select class="form-select" aria-label="Default select example" id="delivery">
                <option selected disabled>請選擇配送方式</option>
                <option value="60">7-11取貨</option>
                <option value="100">宅配</option>
                <option value="60">全家取貨</option>
            </select>
        </dd>
        <hr />
    </dl>

    @{
        decimal totomony = 0;
        foreach (var item in Model)
        {
            totomony += (decimal)item.商品價格;
        }
                <div class="hidaing">
                    <div>
                        <div>
                            <span>總金額</span>
                            <span>TWD $@totomony</span>
                        </div>
                        <div>
                            <span>運費</span>
                            <span id="TxtDeliverymony">TWD $0</span>
                        </div>
                        <hr />
                        <div>
                            <span>結帳金額</span>
                            <span id="paymony">TWD $0</span>
                        </div>
                    </div>
                    <hr />
                </div>
    }
    <br />
    <input id="btn_page1" type="button" value="結帳" disabled />
    <br />

    <div id="clientDital" style="visibility: hidden">

        <form name="userInfo">
            <input type="text" id="pay" name="總金額"/>
            <input type="text" id="userID"name="客戶編號"/>
            <input type="text" id="howToPay"name="付款方式" value="ATM"/>
            <fieldset>
                <legend>訂購資訊</legend>
                <hr />
                <div class="setMargin">
                    <label>姓名</label>
                    <input type="text" class="userName" id="OrderNameText" />
                </div>
                <div class="setMargin">
                    <label>手機號碼</label>
                    <input type="text" class="userPhone" id="OrderPhoneText" />
                </div>
                <div class="setMargin">
                    <label>電子郵件</label>
                    <input type="text" class="userEmail" id="OrderEmailText" />
                </div>
                <div class="setMargin">
                    <label>地址</label>
                    <select class="userAddress" id="city">
                    </select>
                    <select class="userAddress" id="town">
                    </select>
                    <input type="text" class="userAddress" id="OrderDitalText" />
                </div>
            </fieldset>
            <fieldset>
                <legend>收件資訊</legend>
                <hr />
                <div class="setMargin">
                    <input type="checkbox" class="copyCheckbox" id="copyCkBox" />
                    <label>同訂購人</label>
                </div>
                <div class="setMargin">
                    <label>姓名</label>
                    <input type="text"name="收件人名稱" class="userName" id="RrceiveNameText" />
                </div>
                <div class="setMargin">
                    <label>手機號碼</label>
                    <input type="text"name="收件人電話" class="userPhone" id="RrceivePhoneText" />
                </div>
                <div class="setMargin">
                    <label>電子郵件</label>
                    <input type="text"name="收件人email" class="userEmail" id="RrceiveEmailText" />
                </div>
                <div class="setMargin">
                    <label>地址</label>
                    <select class="userAddress" id="city2">
                    </select>
                    <select class="userAddress" id="town2">
                    </select>
                    <input type="text" class="userAddress" id="RrceiveDitalText" />
                    <input type="text" id="Address"name="送貨地址" />
                </div>
                <div class="setMargin" id="pickUp">
                    <label class="whoToGet">7-11取貨</label>
                    <input type="button" value="選擇門市" />
                    <input type="text" style="visibility: hidden" />
                </div>
            </fieldset>

            <div class="setMargin">
                <input type="button" value="確認購買" id="btn_page2" />
            </div>

        </form>
    </div>

    <div id="finish" style="visibility: hidden;">
        <h2 style="text-align:center;">訂購完成</h2>
        <br />
        <div>
            <a href="@Url.Content("~/ProductWall/Index/2")">繼續購買</a>
            <a href="@Url.Content("~/Home")">返回首頁</a>
        </div>
    </div>
</div>


@section Scripts{
    <script src="~/datas/taiwan_districts.js"></script>
    <script>
        const deliverymony = document.querySelector('#delivery')
        const txtdeliverymony = document.querySelector('#TxtDeliverymony')
        const paymony = document.querySelector('#paymony')
        const btn1 = document.querySelector('#btn_page1')
        const btn2 = document.querySelector('#btn_page2')
        const slectCar = document.querySelector('#btn_slectCar')
        
        var ordertime="";
        var orderId="";

        const xhr = new XMLHttpRequest();
        xhr.addEventListener(`load`, () => {
            const data = xhr.responseText;
            txtdeliverymony.innerHTML = `TWD $${data}`;
            const mony = parseInt(data) + @totomony;
            paymony.innerHTML = `TWD $${mony}`;
            $('#pay').val(mony)
            $('#btn_page1').attr('disabled', false);
        })
        deliverymony.addEventListener(`change`, () => {
            xhr.open('GET', `/Shopping/GetDeliveryMony?OPvalue=${deliverymony.value}`);
            xhr.send();
        })

        //----購物清單頁面上的結帳按鈕
        btn1.addEventListener('click', function () {
            $('#ChoosePay').hide();
            $('.hidaing').hide();
            $(this).hide();
            $('.step1').removeClass("active")
            $('.step2').addClass("active")
            $('#btn_slectCar').attr("style", "display:block;");
            $('#clientDital').attr("style", "display:block;");
            if ($('#delivery').select().val() == 100) {
                $('#pickUp').hide();
            }
            //這裡因該要寫載入會員資料的function
            LoadClientDital();
            //----------------------------------
        })

        //----填寫資料頁面上的訂單資料按鈕
        slectCar.addEventListener('click', function () {
            $('.hidaing').toggle();
        })

        //----填寫資料頁面上的確認購買按鈕

        btn2.addEventListener('click', function () {
            $('.step2').removeClass("active")
            $('.step3').addClass("active")
            $('#btn_slectCar').attr("style", "display:none;");
            $('#clientDital').attr("style", "display:none;");
            $('#finish').attr("style", "display:biock;");
           var mydate = new Date();
            ordertime=mydate.toLocaleString( );
            orderId=mydate.getTime();
            console.log(orderId)
            addToOrderSQL();
            addToOrderDitalSQL()
        })



        //----讀取縣市區json-----------------------------------------------
        $.each(data, function (i, i_value) { $("#city2").append(`<option>${i_value.name}</option>`) });
        $("#city2").change(function () {
            let Myarea = $(`#city2 option:selected`).index();
            area2(Myarea);
            $('#Address').val($("#city2").val()+$("#town2").val()+$("#RrceiveDitalText").val());
        })
        $("#town2").change(function () {
            $('#Address').val($("#city2").val()+$("#town2").val()+$("#RrceiveDitalText").val());
        })
        $.each(data[0].districts, function (j, j_value) { $("#town2").append(`<option>${j_value.name}</option>`) })
        function area2(a) {
            $("#town2").empty();
            $.each(data[a].districts, function (j, j_value) { $("#town2").append(`<option>${j_value.name}</option>`) })
        }

        $.each(data, function (i, i_value) { $("#city").append(`<option>${i_value.name}</option>`) });
        $("#city").change(function () {
            let Myarea = $(`#city option:selected`).index();
            area(Myarea);
        })
        $.each(data[0].districts, function (j, j_value) { $("#town").append(`<option>${j_value.name}</option>`) })
        function area(a) {
            $("#town").empty();
            $.each(data[a].districts, function (j, j_value) { $("#town").append(`<option>${j_value.name}</option>`) })
        }
        //----讀取縣市區json結束-----------------------------------------------

        //----同訂購人按鈕
        $('#copyCkBox').change(function () {
            if (this.checked) {
                $('#RrceiveNameText').val($('#OrderNameText').val())
                $('#RrceivePhoneText').val($('#OrderPhoneText').val())
                $('#RrceiveEmailText').val($('#OrderEmailText').val())
                $('#city2').val($('#city').val());
                area2($(`#city2 option:selected`).index());
                $('#town2').val($('#town').val())
                $('#RrceiveDitalText').val($('#OrderDitalText').val())
                $('#Address').val($("#city2").val()+$("#town2").val()+$("#RrceiveDitalText").val());
            }
        })
        
        //----傳遞付款方式data到form中
            $('input[type=radio]').change(function(){
                $('#howToPay').val($(this).val());
    });

        //----載入會員資料
        async function LoadClientDital() {
            const datas = await fetch(`@Url.Content("~/Shopping/LoadClientDital")`);
            const data = await datas.json();
            console.log(data)
            if (data != null) {
                $('#userID').val(data.客戶編號);
                $('#OrderNameText').val(data.客戶姓名)
                $('#OrderPhoneText').val(data.客戶電話)
                $('#OrderEmailText').val(data.email)
                $('#city').val(data.縣市);
                area($(`#city option:selected`).index());
                $('#town').val(data.區);
                $('#OrderDitalText').val(data.地址);
            }
        }
        async function addToOrderSQL() {
                const FD = new FormData(document.userInfo)
                FD.append('下單時間', ordertime)
                FD.append('訂單編號', orderId)
                const data = await fetch("@Url.Content("~/Shopping/CreateOrder")", {
                    method: "POST",
                    body: FD
                });
                const response = await data.text();
                console.log(response)
        }
        async function addToOrderDitalSQL() {
                const FD = new FormData()
                FD.append('訂單編號', orderId)
                const data = await fetch("@Url.Content("~/Shopping/CreateOrderDital")", {
                    method: "POST",
                    body: FD
                });
                const response = await data.text();
                console.log(response)
        }
    </script>
    @*    <script src="~/js/city_data.js"></script>*@
    }