@model dbCompanyTest.ViewModels.ProductDetailViewModels

<link href="~/css/productdetail.css" rel="stylesheet" />
<input type="hidden" name="Id" />
<div class="content">
    <div class="detail-center">
        @*麵包*@
        <div class="d-position">
            <a asp-controller="Home" asp-action="Index">首頁</a>
            <span>></span>
            <a>@Model.pro商品分類</a>
            <span>></span>
            <span>@Model.pro商品名稱 @Model.pro商品顏色</span>
        </div>
        @*輪播*@
        <div id="carouselExampleDark" class="carousel carousel-dark slide d-carouse carousel-fade">
            <div class="carousel-indicators">
                <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1" aria-label="Slide 2"></button>
                <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2" aria-label="Slide 3"></button>
            </div>
            <div class="carousel-inner">
                <div class="carousel-item active d-carouse-pic" data-bs-interval="2000">
                    <img src="@Url.Content("~/images/"+Model.pro商品圖片1)" class="d-block " alt="...">
                </div>
                <div class="carousel-item d-carouse-pic" data-bs-interval="2000">
                    <img src="@Url.Content("~/images/"+Model.pro商品圖片2)" class="d-block " alt="...">
                </div>
                <div class="carousel-item d-carouse-pic" data-bs-interval="2000">
                    <img src="@Url.Content("~/images/"+Model.pro商品圖片3)" class="d-block " alt="...">
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
        <div class="d-carouse aaa">
            <img src="@Url.Content("~/images/"+Model.pro商品圖片1)" />
            <img src="@Url.Content("~/images/"+Model.pro商品圖片2)" />
            <img src="@Url.Content("~/images/"+Model.pro商品圖片3)" />
        </div>
    </div>
    <div class="d-right-detail">
        <div class="d-right-detail-item">@Model.pro商品名稱 @Model.pro商品顏色</div>
        <div class="d-right-detail-item">金額: @Convert.ToDouble(Model.pro商品金額).ToString("#")</div>
        <div class="d-right-detail-item">
            <div name="商品顏色種類" class="Color">COLOR: <span>@Model.pro商品顏色</span></div>
            <div class="d-right-color col-8">
                @{
                    for (int i = 0; i < Model.pro商品顏色idlist.Count; i++)
                    {
                        if (Model.pro商品顏色idlist[i] == Model.商品顏色ID)
                        {
                            <div class="d-right-color-item  active"><div class="d-right-color-item-color"><a id="@Model.pro商品顏色idlist[i]"><img src="@Url.Content("~/images/colorimg/"+Model.pro商品顏色圖片list[i])"></img></a></div></div>
                        }
                        else
                        {
                            <div class="d-right-color-item"><div class="d-right-color-item-color"><a href="@Url.Content("~/ProductWall/Details?id="+Model.pro商品編號+"&colorID="+Model.pro商品顏色idlist[i])" id="@Model.pro商品顏色idlist[i]"><img src="@Url.Content("~/images/colorimg/"+Model.pro商品顏色圖片list[i])"></img></a></div></div>
                        }

                    }
                }
            </div>
        </div>
        <div class="d-choose-size">
            <div class="">SIZE</div>
            <div class="d-right-size col-8">
                @{
                    for (int i = 0; i < Model.pro商品尺寸list.Count; i++)
                    {
                        <div class="size-item" id="@Model.pro商品尺寸idlist[i]">@Model.pro商品尺寸list[i]</div>
                    }
                }
            </div>
        </div>
        <div class="d-right-detail-item">
            <div>尺寸對照表</div>
            <div class="d-right-share">
                <div class="d-right-share-Add">
                    <span class="d-right-share-pic"></span>
                    <span class="d-right-share-pic-Text">ADD TO FAVORITE</span>
                </div>
                <div class="d-right-share-share">
                    <span class="d-right-share-FB"></span>
                    <span class="d-right-share-LINE"></span>
                </div>
            </div>
        </div>
        <div class="d-right-detail-item">
            <div class="p-num-box main-product">
                <div class="reduce icon">-</div>
                <div class="number-box">
                    <input type="number" value="1" readonly="readonly" />
                </div>
                <div class="plus icon">+</div>
            </div>
        </div>
        <div class="user-choose-size add_cart">請選擇尺寸</div>
        <div class="p-details">
            <div class="p-tab">
                <div class="tab-item ac" data-item="1">
                    <span class="name">商品介紹</span><span class="m-2">|</span>
                </div>
                <div class="tab-item" data-item="2">
                    <span class="name">商品規格</span><span class="m-2"></span>
                </div>
            </div>
            <div class="detail-content">
                <div class="detail-item  detail-item-show" data-detail="1">
                    <p> </p>
                    <p>@Model.pro商品介紹</p>
                </div>
                <div class="detail-item" data-detail="2">
                    <p> </p>
                    <p>@Model.pro商品材質</p>
                </div>
            </div>
        </div>
    </div>
</div>


@*返回頂部*@
<div class="web-top">
    <div class="icon back-top"></div>
</div>
@*錯誤訊息*@
<div class="modal" id="error" style="display:none;">
    <div class="modal-box">
        <div class="modal-content">
            <div class="modal-header"><div class="modal-close"></div></div>
            <div class="content-box">
                <div class="modal-text"></div>
            </div>
        </div>
    </div>
</div>
@*分享視窗*@
<div class="modal" id="share" style="display:none">
    <div class="modal-box">
        <div class="modal-content">
            <div class="modal-header"><div class="modal-close"></div></div>
            <div class="content-box">
                <div class="share-box">
                    <div class="share-item" id="shareFB">
                        <a href="#">分享至FACEBOOK</a>
                    </div>
                    <div class="share-item" id="shareline">
                        <a src="">分享至LINE</a>
                    </div>
                    <div class="share-item">
                        <a src="#" id="copy-link">複製連結</a>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

@section Scripts{
    <script>
        let count = 1;
        let sizecheck = null;

        $(window).ready(function () {
            if ($(window).width() < 500) 
            {
                $("#carouselExampleDark").append($(".d-right-detail"));

            }
        });
        $(window).on("resize", function(e){
            if($(window).width()<500)
            {
                $("#carouselExampleDark").append($(".d-right-detail"));

            }
            else
            {
                $(".content").append($(".d-right-detail"));

            }
        });


        //$(".web-top").on('click',function(e){
        //    e.preventDefault();
        //    $("html").animate(
        //    {
        //        scrollTop:0,
        //    },
        //    600
        //    );
        //});
        //$(window).scroll(function(){
        //    if ($(window).scrollTop()>1000){
        //        $(".web-top").css("display","block");
        //    }
        //    else{
        //        $(".web-top").css("display", "none");
        //    }
        //});
        $(".tab-item").on('click', function () {
            $(this).addClass("ac").siblings().removeClass("ac");
           let item =  $(this).data('item');
            $(`div[data-detail=${item}]`).addClass("detail-item-show").siblings().removeClass("detail-item-show");     
        });

        $(".plus").on("click", function () {
            ++count;
            if (count > 10) {
                count = 10;
                $(this).siblings('.number-box').find('input').val(count);
            }
            else {
                $(this).siblings('.number-box').find('input').val(count);
            }
        });
        $(".reduce").on("click", function () {
            --count;
            if (count >= 1) {
                $(this).siblings('.number-box').find('input').val(count);
            }
            else {
                count = 1;
                $(this).siblings('.number-box').find('input').val(count);

            }

        });
        $(".d-right-share-FB").on('click', function () {
            window.open(`https://www.facebook.com/sharer/sharer.php?u=${location.href}`);
        });
        $(".d-right-share-LINE").on('click', function () {
            window.open(`https://social-plugins.line.me/lineit/share?url=${location.href}`);

        });

        $('.size-item').on('click', function () {
            $(this).addClass("active").siblings().removeClass("active");
            $(".add_cart").text("加入購物車").on("click", function () {
                sizecheck = $(".size-item.active").text();
                checkCount();
            });
        });

        $('.modal-close').on('click', function () {
            $('#share').css("display", "none");
            $('#error').css("display", "none");
        });

        $('.d-right-share-pic,.d-right-share-pic-Text').on(`click`, function () {
            sizecheck = $(".size-item.active").text();
            let idcheck = $(".d-right-color-item.active").find('a').attr("id");
            let Colorcheck = $(".Color").find('span').text();
            if (sizecheck === "") {
                $('#error').css("display", "block");
                $('.modal-text').text("請選擇尺寸");
            }
            else {
                AddtoMyLoveOrCart(sizecheck, false);
            }
        });
        //加入我的最愛或購物車
        async function AddtoMyLoveOrCart(sizecheck, bool) {
            const FD = new FormData();
            FD.append('商品名稱', "@Model.pro商品名稱")
            FD.append('商品編號', "@Model.pro商品編號")
            FD.append('商品顏色種類', "@Model.pro商品顏色")
            FD.append('商品價格', "@Model.pro商品金額")
            FD.append('尺寸種類', sizecheck)
            FD.append('圖片1檔名', "@Model.pro商品圖片1")
            FD.append('訂單數量', $('.number-box').find('input').val())
            FD.append('購物車或我的最愛', bool)
            const data = await fetch("@Url.Content("~/MyLove/Create")", {
                method: "POST",
                body: FD
            });
            const response = await data.text();
            $('#error').css("display", "block");
            $('.modal-text').text(`${response}`);
        }
        //確認商品數量
        async function checkCount() {
            const FD = new FormData();
            FD.append("productid", "@Model.pro商品編號")
            FD.append("colorid", "@Model.商品顏色ID")
            FD.append("sizeid", $(".size-item.active").attr("id"))
            FD.append("count", $('.number-box').find('input').val())
            const data = await fetch("@Url.Content("~/MyLove/checkCount")",
                {
                    method: "POST",
                    body: FD
                });
            const reponse = await data.text();
            if (reponse === "true") {
                AddtoMyLoveOrCart(sizecheck, true);
            }
            else {
                $('#error').css("display", "block");
                $('.modal-text').text("商品庫存不足");
            }
        }

    </script>
}