@model IEnumerable<dbCompanyTest.Models.TestClient>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Back_Layout_Sneat.cshtml";
}
<div style="width:80%;margin:20px auto;">
<h1 style="text-align:center">客戶資料一覽表</h1>

<p style="display:flex" id="myaaaa">
        <a asp-action="Create" class="btn btn-primary ms-1">新增客戶</a>
        <button class="btn btn-primary ms-1" id="printClientData">匯出客戶資料</button>
    <button class="btn btn-primary ms-1" id="search">搜尋</button>
    <input class="form-control ms-1 w-25" id="keyPoint" type="search" placeholder="Search" aria-label="Search">
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                項次
            </th>
            <th>
                @Html.DisplayNameFor(model => model.客戶姓名)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.客戶電話)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.身分證字號)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.地址)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.密碼)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.性別)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.生日)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody id="clientTB">
        @{
            int count = 0;
            foreach (var item in Model)
            {
                count++;
                <tr>
                    <td>
                        @count
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.客戶姓名)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.客戶電話)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.身分證字號)
                    </td>
                    <td>
                        @item.縣市 @item.區 @item.地址
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Email)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.密碼)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.性別)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.生日)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.客戶編號" class="btn btn-secondary">編輯</a>
                        <a asp-action="Details" asp-route-id="@item.客戶編號" class="btn btn-warning">細節</a>
                        <a asp-action="Delete" asp-route-id="@item.客戶編號" class="btn btn-danger">刪除</a>
                    </td>
                </tr>
            }
        }
    </tbody>
</table>
</divsty>
@section Scripts{
    <script>
        $(`#printClientData`).on(`click`, async function () {
            let response = await fetch("@Url.Content("~/TestClients/print")")
            let data = await response.json();
            if (data == "沒有可輸出資料!!") {
                $(`#myaaaa`).after(
                `
                                            <div class="alert alert-danger d-flex align-items-center" role="alert" style="transition:all 0.3s">

                                  <div>
                                            ${data}
                                  </div>
                                          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                                        </div>`);
            }
            else {
                $(`#myaaaa`).after(
                `
                                                    <div class="alert alert-success  d-flex align-items-center" role="alert" style="transition:all 0.3s">

                                  <div>
                                            ${data}
                                  </div>
                                          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                                        </div>`);
            };

            setTimeout(function () {
                $(`#myaaaa`).next(".alert").remove();
            }, 3000);
        });

        $(`#search`).on(`click`, async function () {
            let keyPoint = $(`#keyPoint`).val();
            console.log(keyPoint);
            let user = new FormData();
            user.append("keyPoint", keyPoint);
            let response = await fetch("@Url.Content("~/TestClients/Search")", {
                method: "POST",
                body: user
            });
            let data = await response.json();
            if (data == "沒有找到資料") {
                $(`#myaaaa`).after(`
                                            <div class="alert alert-danger  d-flex align-items-center" role="alert" style="transition:all 0.3s">

                                  <div>
                                            沒有找到資料
                                  </div>
                                          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                                </div>`);

                setTimeout(function () {
                    $(`#myaaaa`).next(".alert").remove();

                }, 3000);
            }
            else {
                let newuserdata = data.map((value, index) => {
                    return (`<tr>
                                            <td>
                                                ${index + 1}
                                            </td>
                                            <td>
                                                ${value.客戶姓名}
                                            </td>
                                            <td>
                                                ${value.客戶電話}
                                            </td>
                                            <td>
                                                ${value.身分證字號}
                                            </td>
                                            <td>
                                                ${value.縣市} ${value.區} ${value.地址}
                                            </td>
                                            <td>
                                                ${value.email}
                                            </td>
                                            <td>
                                                ${value.密碼}
                                            </td>
                                            <td>
                                                ${value.性別}
                                            </td>
                                            <td>
                                                ${value.生日}
                                            </td>
                                            <td>
                                                <a href="/TestClients/Edit/${value.客戶編號}" class="btn btn-secondary">編輯</a>
                                                <a href = "/TestClients/Details/${value.客戶編號}" class="btn btn-warning" > 細節 </a>
                                                <a href = "/TestClients/Delete/${value.客戶編號}" class="btn btn-danger" > 刪除 </a>
                                            </td>
                                        </tr>`);
                });
                $(`#clientTB`).html(newuserdata.join(""));
                $(`#error`).text("");
            }
        });
    </script>
}