@model IEnumerable<dbCompanyTest.Models.Order>

@section Style{
    <style>
        .tbcolor{
            
            text-align:center;
            vertical-align: middle;
        }
        .thead{
            background-color:#BDAC9F;
            text-align:center;
            font-weight:bold;
        }
        .btncolor{
            background-color:#D5BBA6;
            font-weight:bold;
            color:white;
        }
    </style>
}


@{
    ViewData["Title"] = "orderInfo";
}

<div class="container">
    <div class="pb-3 lh-lg">
        <br />
        <nav style="--bs-breadcrumb-divider: url(&#34;data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='currentColor'/%3E%3C/svg%3E&#34;);" aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a asp-action="Index" asp-route-id=@ViewBag.id>會員中心</a></li>
                <li class="breadcrumb-item active" aria-current="page">訂單管理</li>
            </ol>
        </nav>

        <hr />
        <br />
        <table class="table  table-striped tbcolor">
            <thead class="thead">
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.訂單編號)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.付款方式)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.送貨地址)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.總金額)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.下單時間)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.訂單狀態)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.付款狀態)
                    </th>
                    <th>訂單詳情</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.訂單編號)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.付款方式)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.送貨地址)
                        </td>
                        @{
                            decimal 金額 = (decimal)item.總金額;
                                                    <td>
                                                      @金額.ToString("###,###,##0")$
                                                    </td>

                        }
                        <td>
                            @Html.DisplayFor(modelItem => item.下單時間)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.訂單狀態)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.付款狀態)
                        </td>
                        <td>
                            @Html.ActionLink("More", "orderInfoDetail", new { id=item.訂單編號 },new {@class="btn btncolor"})
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        <br />
    </div>
</div>
