@model IEnumerable<dbCompanyTest.ViewModels.OrderInfoDetailViewModel>

@section Style{
    <style>
        .tbcolor{
            vertical-align: middle;
            text-align:center;
            border-radius: 5px 0 0 0;
        }
        .thead{
            background-color:#BDAC9F;
            text-align:center;
            font-weight:bold;
        }
        .btncolor{
            background-color:#D5BBA6;
            font-weight:bold;
            color:white;
        }
        .dttxt{

        }
    </style>
}

@{
    ViewData["Title"] = "orderInfoDetail";
}

<div class="container">
    <div class="pb-3 lh-lg">
        <div>
            <br />
            <nav style="--bs-breadcrumb-divider: url(&#34;data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='currentColor'/%3E%3C/svg%3E&#34;);" aria-label="breadcrumb">
            <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a asp-action="Index" asp-route-id=@ViewBag.id>會員中心</a></li>
                    <li class="breadcrumb-item"><a asp-action="orderInfo" asp-route-id=@ViewBag.id>訂單管理</a></li>
                    <li class="breadcrumb-item active" aria-current="page">訂單詳情</li>
            </ol>
        </nav>
            <hr />
            <br />
            <table class="table  tbcolor">
                <thead class="thead">
                    <tr>
                        <th>訂單編號</th>
                        <th>商品名稱</th>
                        <th>規格</th>
                        <th>數量</th>
                        <th>價格</th>
                    </tr>
                </thead>
                <tbody>

                    @{
                        foreach (var item in Model)
                        {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.訂單編號)
                                    </td>
                                    <td>
                                    <a asp-controller="ProductWall" asp-action="Details" asp-route-id="@item.商品id" asp-route-colorID="@item.商品顏色id">
                                    <div>
                                        @{
                                            if (@item.圖片 != null)
                                            {
                                                <img class="card-img rounded-0 img-fluid" src="~/images/@item.圖片" style="width:118px;height:162px" />
                                            }
                                            else
                                            {
                                                <img class="card-img rounded-0 img-fluid" src="~/images/404.jpg" style="width:118px;height:162px" />
                                            }
                                        }
                                        @Html.DisplayFor(modelItem => item.商品名)
                                    </div>
                                    </a>
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.規格)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.數量)
                                    </td>
                                    @{
                                    decimal 價格 = (decimal)item.價格;
                                            <td>
                                            @價格.ToString("###,###,##0")$
                                            </td>
                                    }
                                </tr>
                        }
                    }
                </tbody>
            </table>
            <br />
            <br />
            <dl class="row dttxt lh-lg">
                @{
                    string 付款="";
                    string 地址="";
                    decimal 總金=0;
                    foreach (var items in Model)
                    {
                        付款 = items.付款方式;
                        地址 = items.送貨地址;
                        總金 = (decimal)items.總金額;
                    }
                    
                        <hr />
                        <dt class="col-sm-10 text-end pe-5">
                            @Html.DisplayNameFor(model => model.付款方式)
                        </dt>
                        <dd class="col-sm-2 text-end">
                            @付款
                        </dd>
                        <dt class="col-sm-10 text-end pe-5">
                            @Html.DisplayNameFor(model => model.送貨地址)
                        </dt>
                        <dd class="col-sm-2 text-end">
                            @地址
                        </dd>
                        <dt class="col-sm-10 text-end pe-5">
                            @Html.DisplayNameFor(model => model.總金額)
                        </dt>
                        <dd class="col-sm-2 text-end">
                            @總金.ToString("###,###,##0")$
                        </dd>
                }

            </dl>
        </div>
        <div>
@*               <a asp-action="orderInfo" asp-route-id="CL1-00376">Back to List</a>
*@        </div>

    </div>
</div>
